.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-group button {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
}

.home {
    width: 100px;
    height: 100px;
    margin-top: 18px;
    margin-left: 100px;
}

.divhome {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ccd5de;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.model-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #e40046;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: #ffffff;

}

.model div {
    margin-bottom: 20px;
}

.model button {
    margin-left: 80px;
    margin-top: 12px;
}



.zoom-in-out-box {
    margin: 24px;
    width: 50px;
    height: 50px;
    animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}